@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar in textarea */
textarea::-webkit-scrollbar {
  display: none;
}

textarea {
  -ms-overflow-style: none;
  scrollbar-width: none;
}